.header{
    display: flex;
    justify-content: space-between;
    position: sticky;
   background-color: #fbf9f9;
    top: 0;
   
}
.body{
    background-color: white;
}
.logo-container{
    display: flex;
    margin-left: 170px;
    
}
.logo{
    margin-top: 5px;
    width: 130px;
    height: 90px;
    border-radius: 10px;


}
.nav-items{
    padding: 0px 20px;
    margin-right: 130px;
}
.nav-items>ul{
    font-size: 24px;
    display: flex;
    list-style: none;
    
}
.login-btn{
  background-color: #fbf9f9;  
  height: 20px;
  padding: 0 20px;
  margin-top: 24px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.nav-items>ul>li{
   padding: 10px;
    margin: 10px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
}


.res-card{
    width: 280;
    height: 400px;
   
    margin: 5px;
    border-radius: 10px;
    
}
.res-card:hover{
    box-shadow: inset;
    cursor: pointer;
  
}
.search{
    padding: 10px;
}
.res-logo{
    width: 100%;
    height: 200px;
    border-radius: 10px;
   
}
.heading2-top{
    margin: 0 180px;
    margin-bottom: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.res-container{
   
    display: flex;
    justify-content: center;
    margin: 0 150;
    flex-wrap: wrap ;
}
.res-details{
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 4px;
    margin-left: 5px;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    
   
}
.res-card-rating{
    display: flex;
    
}
.res-rating{
    margin-top: 0px;
    margin-left: 7px;
    font-family: Arial, Helvetica, sans-serif;
}
.website-name{
    margin-top: 30px;
    margin-left: 5px;
    font-style: italic;

}
.search{
    margin-left: 180px;
    font-size: 20px;
}
.footer{
    margin: 0 0;
    background-color: rgb(249, 244, 244);
    display: flex;
    justify-content: space-between;
    background-color: black;
    font-style: italic;
}
.footer-items{
    margin: 0 180;
    display: flex;
    justify-content: space-between;
    color: white;
    width: 100%;
}

.upper-footer{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    background-color: greenyellow;
}
.button-filter{
    
 
    border-radius: 10px;
   
    padding: 2px;
    cursor: pointer;
} 

.widget-container{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    background-color: #ffff;
    margin:0 180px;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.widget-image{
    height: 160px;
    width: 150px;
    border-radius: 75px;
    margin-left: 20px;
    cursor: pointer;
}
.shimmer-widgets{
    display: flex;
    background-color: white;
    margin:0 180px;
    height: 200px;
    margin-top: 80px;
    margin-bottom: 5px;

}
.shimmer-widgets-image{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin-left: 20px;
   background-color: #f0f0f0;
}
.shimmer-card-container{
    display: flex;
    justify-content: center;
    margin: 0 150;
    flex-wrap: wrap ;
}
.shimmer-card{
    width: 280;
    height: 400px;
    margin: 5px;
    border-radius: 10px;
    background-color: #f0f0f0;
}


/* Menu CSS */
.main-div-menu{    
    margin: 0 400px;
}
.order-type-div-menu{
    margin-top: 60px;
    height: 40px;
    margin-bottom: 10px;
}
.online-btn-menu{
    background-color: white;
    font-size: 50px;
    font-weight: bold;
    border-style: none;
    font-size: 30px;
    margin-left: 20px;
  
    /* text-decoration-style:solid; */

}
.dine-btn-menu{
    background-color: white;
    font-weight: bold;
    font-size: 30px;
    margin-left: 20px;
    border: none;

}
.div-resdetails-menu{
   
    border: 2px solid rgb(125, 123, 123);
    height: 200px;
    /* width:90%; */
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 30px;
    box-shadow:10px 10px 5px #c8c5c5;
    padding: 10px; 

}
.resdetails-rating{
    font-weight: bold;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.resdetails-cuisine{
   color: red;
   font-weight: bold;
   font-size: 18px;
}
.offer-card-menu{
    width: 200px;
    height: 80px;
    border: 2px solid black;
    border-radius: 30px;
    margin: 10px;
}
.div-deals-menu{
    display: flex;
    
}
.menu-topPickup{
    display: flex;
    flex-wrap: wrap;
}

.menu-card{
    /* background-color: green; */
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    height: 200px;
}
.food-details{
    width: 70%;
}

.div-search-menu{
display: flex;
justify-content: center;
}
.search-input-menu{
    width: 80%;
    height: 40px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-size: medium;
}
.search-button-menu{
    /* width: 20%; */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    height: 40px;
    border-radius: 10px;
}



.headings{
    font-weight: bold;
    font-size:25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu-link
{
text-decoration: none;
color: black;
}

/* separator for each menu card */
.separator{
    border: none;
    border-top: 2px solid black;
    margin: 20px 0;
}